body {
  
}

h1 {
  color: navy;
  margin-left: 20px;
}


text_info{
	position: absolute;
	top: 30%;
	left: 43%;
	font: 18ft;
	color: #ffffff;
}
bgl { 
    height: 100%; 
	width: 40%;
	left: 20px;
	top: 20px;
	background: rgba(255,255,255,0.3);
	position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}