body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
#more {display: none;}

#animate {
  width: 2000px;
  height: 20px;
  position: absolute;
  background-color: white;
}



table tr{
	width: 80%;
	height: 20%;	
	border: 2px solid black; /* background color */
	background: #ffffff;   
	opacity: 0.7;
}

table td{
	border-collapse: collapse;
	border: 2px solid black; /* background color */
}

table th{
	border-collapse: collapse;
	border: 2px solid black; /* background color */
}

.tableProp{
	width: 100%;
	height: 20%;					  
	font: 30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-collapse: collapse;
}

.backGroundImg{
	vertical-align:middle;
	width: 100%;
	max-height: 940px;	
}

.SearchButton{
	position:absolute;
	width:8%;
	left:90%;
}

.SetFindUsPos{
	position:absolute;
	left:88%;	
}
.EnterKeyDesign{
	position:absolute;
	width:35%;	
	min-width:25%;
	left: 50%;
}

.SetIconsPos1{
	position:absolute;
	left:96%;
	top: 0.7%;
}
.SetIconsPos2{
	position:absolute;
	left:97.5%;
	top: 0.7%;	
}

.InputContactPos{
	position:absolute;
	left:96%;
}

.CoinsPic{
	width:12%
}

.infoArea{
	position:absolute;
	/*width:80%; 
	height: 40%;*/
	left:2%;
	right:4%;
	font-size:130%;
	font-weight: 900;
	color: black;
}

.SetPosTxtInfo{
	position:absolute;
	top: 5%;
}

.Center{
	vertical-align:middle;
}

.w3-display-middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}


#inf_txt{
	width:80%; 
	height: 40%;
	top:90%;
	left:55%;
	font-size:130%;
	font-weight: 900;
	color: black;
}